@font-face {
  font-family: 'Google Sans Flex';
  src: url('/static/assets/fonts/GoogleSansFlex-VariableFont.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

.smd-layout_navbar {
  margin-left: 64px !important;
}

.smd-layout_navbar a {
  margin-bottom: 1px;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
      "wdth" 100,
      "GRAD" 0,
      "ROND" 100;
}

.smd-layout_navbar-profile-name {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
      "wdth" 100,
      "GRAD" 0,
      "ROND" 100;
}



.smd-layout_navbar a span.material-symbols-outlined {
  vertical-align: middle;
  margin-right: 6px;
}