.footer {
    margin-top: 100px;
    width: 80%;
}

.footer-links {
    position: absolute;
    margin-top: 80px;
    float: left;
    padding-bottom: 10px;
}

.footer-links a {
    margin-right: 30px;
}

.footer--organization-name {
    position: absolute;
    font-family: Rubik;
    font-size: 16px;
    margin-top: -7px;
    float: left;
}

.footer-region {
    position: absolute;
    right: 10%;
    font-family: Rubik;
    font-size: 16px;
    margin-top: -7px;
    float: right;
}

.footer-logo {
    position: absolute;
    right: 10%;
    font-size: 16px;
    margin-top: 50px;
    float: right;
}

.footer--privacy-notice {
    margin-top: 30px;
    float: left;
    max-width: 90%;
}

@media only screen and (max-width: 550px) {
    .footer {
        margin-top: 150px;
        width: 80%;
    }
    
    .footer-links {
        position: absolute;
        margin-top: 10px;
        float: left;
    }
    
    .footer-links a {
        margin-right: 30px;
    }
    
    .footer--organization-name {
        position: relative;
        font-family: Rubik;
        font-size: 16px;
        margin-top: -7px;
        float: none;
    }
    
    .footer-region {
        position: relative;
        right: 0%;
        font-family: Rubik;
        font-size: 16px;
        margin-top: -7px;
        float: none;
    }
    
    .footer--privacy-notice {
        margin-top: 30px;
        float: none;
    }

    .footer-logo {
        display: none;
    }
}