<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="apple-mobile-web-app-status-bar-style" content="#F44336">
    <meta name="msapplication-navbutton-color" content="#F44336">
    <meta name="theme-color" content="#F44336">
    <meta name="color-theme-override" content="#F44336">
    
    <meta name="keywords" content="development">
    <meta name="og:site_name" content="Strawberry ID">
    <meta name="og:title" content="Strawberry ID">
    <meta name="og:description" content="Strawberry ID - One account, for all Strawberry Foundations products">
    <meta name="description" content="Strawberry ID - One account, for all Strawberry Foundations products">
    <meta name="author" content="Strawberry Foundations">

    <meta property="og:image" content="https://strawberryfoundations.org/static/assets/sf_logo.png">
    <meta property="og:site_name" content="Strawberry ID">
    <meta property="og:url" content="https://strawberryfoundations.org/">

    <meta content="Strawberry ID" property="og:title">
    <meta content="Strawberry ID - One account, for all Strawberry Foundations products" property="og:description">

    {% if title == ".notitle"%}
      <title>Strawberry ID</title>
    {% else %}
      <title>{{ title }} - Strawberry ID</title>
    {% endif %}

    <link rel="icon" href="/static/assets/svg/sid_lowercase.svg"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/index2.css">
    <link rel="stylesheet" href="/static/basic.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/dialog_oauth.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/footer.css">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-deep_orange.min.css" /> 
    
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body style="background-color: #F0F4F9;">
  {% if meta.error %}
    <div class="oauth-content">
      <center>
        <div class="login-area slide-top" style="height: 300px; width: 700px; margin-top: 56px;">
          <img class="slide-top" src="/static/assets/svg/sf_logo.svg" width="90px">
          <h3 ><b>{{ strings.login_not_possible }}</b></h3>
          <h6 ><b>{{ strings.login_not_possible_invalid_code }}</b></h6>

          <a class="mdl-button mdl-js-button mdl-button--raised rubik"
             style="border-radius: 10px; background-color: #a0e0e0; width: 150px; margin-top: 20px"
             href="/">
                {{ strings.back }}
          </a>
        </div>
      </center>
    </div>
  {% else %}
    <div class="oauth-content">
      <center>
        <div class="login-area slide-right" style="height: 440px; min-height: 440px; max-height: 540px; width: 800px;">
          <a href="/"><img class="slide-right" src="/static/assets/svg/sf_logo.svg" width="90px"></a>
          <h3><b>{{ strings.login_to }} {{ meta.service_name }}</b></h3>
          
          <div class="trusted-badge">
            {% if meta.trusted %}
                <span id="verified_icon" class="material-symbols-outlined" style="color: #34A843">verified</span>
                <div class="mdl-tooltip" data-mdl-for="verified_icon">{{ strings.trusted_service }}</div>
                <p style="color: #34A843"><b>{{ service_after_login }}</b></p>
            {% else %}
                <span id="verified_icon" class="material-symbols-outlined" style="color: red">priority_high</span>
                <div class="mdl-tooltip" data-mdl-for="verified_icon">{{ strings.not_trusted_service }}</div>
                <p style="color: red"><b>{{ service_after_login }}</b></p>
            {% endif %}
          </div>

          <h6 style="font-weight: 600" class="rubik-font--default">
            {{ service_wants_to_login | safe }}<br>
            <div style="width: 600px; margin-top: 10px;">{{ strings.only_permit_you_know }}</div>
          </h6>
      
          <div class="form-data">
            <form action="/v2/{{ lang }}/login/oauth_dialog/{{ meta.service }}?code={{ code }}" method="post">      
              <input id="show-dialog" class="mdl-button mdl-js-button mdl-button--raised rubik"
                style="border-radius: 10px; background-color: #a0e0e0; width: 150px"
                type="submit" value="{{ strings.allow }}">
            </form>
        </div>
      </center>  
    </div>
  {% endif %}
</body>

</html>